plotly
streamlit
streamlit-extras
streamlit_audiorecorder
pandas
plotly.express
qrcode
openpyxl
beautifulsoup4
selenium
webdriver-manager
unidecode
xlrd
pillow 
pywin32 
langgraph
langchain
google-generativeai